<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyWebApp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div style="border: red 2px">
        <p>Новый пользователь</p>
        <input type="text" v-model="newUser.userName" placeholder="Имя"/><br>
        <input type="number" v-model="newUser.userAge" placeholder="Возраст"><br>
        <input type="text" v-model="newUser.userAddress" placeholder="Адрес"><br>
        <div v-for="phone in newUser.userPhones">
            <input type="text" v-model="phone.number" placeholder="Телефон"><br>
        </div>

        <button v-on:click="saveUser">Сохранить пользователя</button>
    </div>
    <table>
        <p>Список пользователей</p>
        <tr v-for="user in users">
            <td>{{ user.userName }}</td>
            <td>{{ user.userPhones }}</td>
        </tr>
    </table>
    <button v-on:click="loadData">Загрузить данные</button>
</div>
<script src="script.js"></script>

</body>
</html>
